@page "/movingAverages"
@using ApplicationModels.Indexes

<PageTitle>Moving Average Charts</PageTitle>
<h1>Moving Averages</h1>
<Row>
    <Column ColumnSize="ColumnSize.Is6">       
        <SelectTicker SelectionChanged="OnSelectedRowChangedAsync"/>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">
        <Row>
            <div>
                <Fields>
                    <Field ColumnSize="ColumnSize.Is3.OnTablet">
                        <FieldLabel>First Value</FieldLabel>
                        <NumericPicker TValue="int?" @bind-Value="@firstValue"  Min="20" Max="100"></NumericPicker>
                    </Field>
                    <Field ColumnSize="ColumnSize.Is3.OnTablet">
                        <FieldLabel>Second Value</FieldLabel>
                        <NumericPicker TValue="int?" @bind-Value="@secondValue" Min="20" Max="100"></NumericPicker>
                    </Field>
                    <Field ColumnSize="ColumnSize.Is6.OnTablet">
                        <FieldLabel>Chart Type</FieldLabel>
                        <Dropdown>
                            <DropdownToggle Color="Color.Primary">
                                @selectedChartType
                            </DropdownToggle>
                            <DropdownMenu>
                                <DropdownItem Value="chartType[0]" Clicked="@HandleDropdownItemClicked">@chartType[0]</DropdownItem>
                                <DropdownItem Value="chartType[1]" Clicked="@HandleDropdownItemClicked">@chartType[1]</DropdownItem>
                            </DropdownMenu>
                        </Dropdown>
                    </Field>
                </Fields>
            </div>
        </Row>
        <Row>
            <Button Color="Color.Primary" Clicked="@GenerateCharts" disabled=@displaySubmitButton>Generate Chart</Button>
        </Row>
    </Column>
</Row>
<Row>
    @if (showChart)
    {
        <Row HorizontalGutter="32" VerticalGutter="16" Class="align-content-center">
            <Column ColumnSize="ColumnSize.Is10.OnTablet" Class="align-content-center">
                <Alert Color="Color.Primary" Visible>
                <MovAvgCharting firstChartValues="@firstChartValues" 
                    secondChartValues="@secondChartValues" 
                    DisplayValues= "@MsgToDisplay"
                    Quotes="@quotes"
                    />
                </Alert>
            </Column>
        </Row>
    }
</Row>
